<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Boolean variables</key>
		<dict>
			<key>Definition</key>
			<string>Variables whose values are the truth values `true` and `false`, usually denoted by `1` and `0` respectively.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Basics/Logic%20Gates</string>
				<key>Title</key>
				<string>Logic Gates</string>
			</dict>
		</dict>
		<key>truth table</key>
		<dict>
			<key>Definition</key>
			<string>A truth table has one column for each input variable and one final column showing all of the possible results. Each row of the table contains one possible configuration of the input variables and the result of the operation for those values. </string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Basics/Logic%20Gates</string>
				<key>Title</key>
				<string>Logic Gates</string>
			</dict>
		</dict>
		<key>logic minimization</key>
		<dict>
			<key>Definition</key>
			<string>Using a variety of techniques to obtain the simplest gate-level implementation of a Boolean function. &quot;Simplicity&quot; depends on the metric being used.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Advanced/Advanced%1</string>
				<key>Title</key>
				<string>logic minimization</string>
			</dict>
		</dict>
		<key>De Morgan&apos;s laws</key>
		<dict>
			<key>Definition</key>
			<string>NOR(x,y) = NOT(OR(x, y)) = AND(NOT(x), NOT(Y))

NAND(x,y) = NOT(AND(x, y)) = OR(NOT(x), NOT(Y))
</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Advanced/Advanced%1</string>
				<key>Title</key>
				<string>De Morgan&apos;s laws</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
